*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.o
*_nomacro.c

examples/chat/chat
examples/dynamic_data/dynamic_data_client
examples/dynamic_data/dynamic_data_server
examples/print_name_and_age/print_name_and_age_client
examples/print_name_and_age/print_name_and_age_server
examples/struct/print_struct_client
examples/struct/print_struct_server
examples/callback/callback_client
examples/callback/callback_server
examples/callback_dynamic_data/callback_dyndata_client
examples/callback_dynamic_data/callback_dyndata_server
examples/chat/chat_nomacro
examples/print_name_and_age/print_name_and_age_client_nomacro
examples/print_name_and_age/print_name_and_age_server_nomacro
examples/struct/print_struct_client_nomacro
examples/struct/print_struct_server_nomacro
examples/callback/callback_client_nomacro
examples/callback/callback_server_nomacro
examples/dynamic_data/dynamic_data_client_nomacro
examples/dynamic_data/dynamic_data_server_nomacro
examples/callback_dynamic_data/callback_dyndata_client_nomacro
examples/callback_dynamic_data/callback_dyndata_server_nomacro
examples/stress/stress_client
examples/stress/stress_server
